In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib as plt

In [2]:
#Read the data
df = pd.read_csv(r"D:\Internship\MILESTONE_1\data.csv", encoding='latin-1', 
    low_memory=False)

In [3]:
#TOP 5 data
df.head()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [4]:
# Last 5 data
df.tail()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
435737,SAMP,24-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,22.0,50.0,143.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-24
435738,SAMP,29-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,46.0,171.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-29
435739,NaN,NaN,andaman-and-nicobar-islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435740,NaN,NaN,Lakshadweep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435741,NaN,NaN,Tripura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Rows and Columns of DataSet
data_shape=df.shape

rows= data_shape[0]
columns= data_shape[1]

print(f'"No of Rows and Columns :" \n "Rows :" {rows} "Columns :" {columns}')

"No of Rows and Columns :"
 "Rows :" 435742 "Columns :" 13

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435742 entries, 0 to 435741
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   stn_code                     291665 non-null  object
 1   sampling_date                435739 non-null  object
 2   state                        435742 non-null  object
 3   location                     435739 non-null  object
 4   agency                       286261 non-null  object
 5   type                         430349 non-null  object
 6   so2                          401096 non-null  float64
 7   no2                          419509 non-null  float64
 8   rspm                         395520 non-null  float64
 9   spm                          198355 non-null  float64
 10  location_monitoring_station  408251 non-null  object
 11  pm2_5                        9314 non-null    float64
 12  date                         435735 non-null  object
dtypes: float64(5), object(8)
memory usage: 43.2+ MB

In [7]:
# Finding percentage of missing value 
percent=df.isnull().sum()/rows*100
print(percent)

stn_code                       33.064749
sampling_date                   0.000688
state                           0.000000
location                        0.000688
agency                         34.304933
type                            1.237659
so2                             7.951035
no2                             3.725370
rspm                            9.230692
spm                            54.478797
location_monitoring_station     6.309009
pm2_5                          97.862497
date                            0.001606
dtype: float64

In [8]:
# Finding Duplicate value 
duplicate=df.duplicated().sum()
print(duplicate)

674

In [12]:
#Descriptive of Numerical Value Statistic columns
print("Numerical Values Statistics")
print(df.describe())
#Descriptive of Object Value Statistic columns
print("Object Values Statistics")
print(df.describe(include="object"))

Numerical Values Statistics
Object Values Statistics

,stn_code,sampling_date,state,location,agency,type,location_monitoring_station,date
count,291665,435739,435742,435739,286261,430349,408251,435735
unique,745,5485,37,304,64,10,991,5067
top,193,19-03-15,Maharashtra,Guwahati,Maharashtra State Pollution Control Board,"Residential, Rural and other Areas",Regional Office,2015-03-19
freq,1428,253,60384,9984,27857,179014,6261,253